Introduction
Maps allow us to transform data in a DataFrame or Series one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in.

As you'll learn, we do this with the groupby() operation. We'll also cover some additional topics, such as more complex ways to index your DataFrames, along with how to sort your data.

Groupwise analysis
One function we've been using heavily thus far is the value_counts() function. We can replicate what value_counts() does by doing the following:

In [2]:
#We import the librarys and read the wine data set
#
import pandas as pd
pd.set_option('max_rows', 5)
import numpy as np
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)

In [3]:
reviews.groupby('points').points.count()

#groupby() created a group of reviews which allotted the same point values to the given wines. 
#Then, for each of these groups, we grabbed the points() column and counted how many times it appeared. 
#value_counts() is just a shortcut to this groupby() operation.

#We can use any of the summary functions we've used before with this data. For example,
#to get the cheapest wine in each point value category, we can do the following:

points
80     155
81     305
      ...
99      15
100      8
Name: points, Length: 21, dtype: int64

In [4]:
reviews.groupby('points').price.min()

points
80       5.0
81       5.0
       ...
99      75.0
100    150.0
Name: price, Length: 21, dtype: float64

In [5]:
#You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. 
#This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit. For example,
#here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

In [6]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 13549, dtype: object

In [8]:
#For even more fine-grained control, you can also group by more than one column.
#For an example, here's how we would pick out the best wine by country and province:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If you love massive Argentine reds with purity...
          Other             This single-vineyard Malbec blend from vineyar...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                                  designation  \
country   province
Argentina Mendoza Province  Finca Pedregal Single Vineyard Barrancas Maipú...
          Other                                                  Chañar Punco
...                                                                       ...
Uruguay   San Jose                                   El Preciado Gran Reserva
          Uruguay                                   Blend 002 Limited Edition

                            points  price          province          region_1  \
country   province
Argentina Mendoza Province      95   74.0  Mendoza Province           Mendoza
          Other                 94   68.0             Other  Calchaquí Valley
...                            ...    ...               ...               ...
Uruguay   San Jose              87   50.0          San Jose               NaN
          Uruguay               91   22.0           Uruguay               NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
...                             ...                ...                   ...
Uruguay   San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Pascual Toso 2014 Finca Pedregal Single Vineya...
          Other             El Esteco 2013 Chañar Punco Red (Calchaquí Val...
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                              variety          winery
country   province
Argentina Mendoza Province  Cabernet Sauvignon-Malbec    Pascual Toso
          Other                             Red Blend       El Esteco
...                                               ...             ...
Uruguay   San Jose                          Red Blend  Castillo Viejo
          Uruguay               Tannat-Cabernet Franc         Narbona

[385 rows x 13 columns]

In [9]:
#Another groupby() method worth mentioning is agg(), which lets you run a bunch of different functions on your 
#DataFrame simultaneously.
#For example, we can generate a simple statistical summary of the dataset as follows:

reviews.groupby(['country']).price.agg([len, min, max])

              len   min    max
country
Argentina  1907.0   4.0  230.0
Armenia       1.0  14.0   14.0
...           ...   ...    ...
Ukraine       5.0   6.0   10.0
Uruguay      61.0  10.0  120.0

[41 rows x 3 columns]

In [10]:
#Effective use of groupby() will allow you to do lots of really powerful things with your dataset.
#Multi-indexes
#In all of the examples we've seen thus far we've been working with DataFrame or Series objects with a single-label index. groupby() is slightly different in the fact that, depending on the operation we run, it will sometimes result in what is called a multi-index.
#A multi-index differs from a regular index in that it has multiple levels. For example:

countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  1635
          Other              272
...                          ...
Uruguay   San Jose             3
          Uruguay              7

[385 rows x 1 columns]

In [11]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value. Dealing with multi-index output is a common "gotcha" for users new to pandas.

The use cases for a multi-index are detailed alongside instructions on using them in the MultiIndex / Advanced Selection section of the pandas documentation.

However, in general the multi-index method you will use most often is the one for converting back to a regular index, the reset_index() method:

In [12]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
..         ...               ...   ...
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

Sorting
Looking again at countries_reviewed we can see that grouping returns data in index order, not in value order. That is to say, when outputting the result of a groupby, the order of the rows is dependent on the values in the index, not in the data.

To get data in the order want it in we can sort it ourselves. The sort_values() method is handy for this

In [13]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

      country           province    len
93    Croatia  Hrvatsko Primorje      1
291  Slovenia               Kras      1
..        ...                ...    ...
375        US         Washington   4308
353        US         California  18122

[385 rows x 3 columns]

sort_values() defaults to an ascending sort, where the lowest values go first. However, most of the time we want a descending sort, where the higher numbers go first. That goes thusly:

In [14]:
countries_reviewed.sort_values(by='len', ascending=False)

          country     province    len
353            US   California  18122
375            US   Washington   4308
..            ...          ...    ...
329  South Africa  Vlootenburg      1
139        Greece       Beotia      1

[385 rows x 3 columns]

In [15]:
#To sort by index values, use the companion method sort_index(). This method has the same arguments and default order:

In [16]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
..         ...               ...   ...
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

In [17]:
#Finally, know that you can sort by more than one column at a time:

In [18]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   272
0    Argentina  Mendoza Province  1635
..         ...               ...   ...
381    Uruguay        Montevideo    10
379    Uruguay         Canelones    24

[385 rows x 3 columns]